.app-sidebar__toggle {
  padding: 10px;
  font-family: fontAwesome;
  color: white;
  line-height: 2.4;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  /* background-color: white; */
  /* width: 30px; */
  height: 30px;
  line-height: 15px;
  margin-top: 7px;
  border-radius: 0.357rem;
}

.app-sidebar__toggle:before {
  content: "\f009";
  font-size: 15px;
}
.app-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 50px;
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  z-index: 10;
  background: rgb(0, 145, 123);
}
.app-sidebar a {
  text-decoration: none;
}

.app-sidebar::-webkit-scrollbar {
  width: 6px;
}

.app-sidebar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.abc {
  color: chartreuse;
}
app-menu ::selection {
  color: #fff;
  background-color: rgb(0, 145, 123);
}
.list-unstyled,
.app-nav,
.app-menu,
.treeview-menu {
  padding-left: 0;
  list-style: none;
}
.app-menu {
  margin-bottom: 0;
  padding-bottom: 40px;
}

.app-menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.375rem;
  margin-bottom: 10px;
  padding: 15px 15px;
  font-size: 1.08em;
  border-left: 0px;
  box-shadow: none;
  -webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
  transition: border-left-color 0.3s ease, background-color 0.3s ease;
  color: white;
  border: 1px solid transparent;
  /* border-bottom: 1px solid #ddd; */
}

.app-menu__item.active,
.app-menu__item:hover,
.app-menu__item:focus {
  background: #c6defd;
  text-decoration: none;
  color: rgb(0, 145, 123);
  box-shadow: none;
  border: 1px solid rgb(0, 145, 123);
}

.app-menu__icon {
  font-size: 23px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 40px;
}

.app-menu__label {
  white-space: nowrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 15px;
  font-weight: 500;
}
.app-menu {
  padding: 5px;
}
.app-menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.375rem;
  margin-bottom: 10px;
  padding: 15px 15px;
  font-size: 1.08em;
  border-left: 0px;
  box-shadow: none;
  -webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
  transition: border-left-color 0.3s ease, background-color 0.3s ease;
  color: white;
  border: 1px solid transparent;
  /* border-bottom: 1px solid #ddd; */
}

.app-menu__item.active,
.app-menu__item:hover,
.app-menu__item:focus {
  background: #c6defd;
  text-decoration: none;
  color: rgb(0, 145, 123);
  box-shadow: none;
  border: 1px solid rgb(0, 145, 123);
}
.app-menu__label {
  white-space: nowrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 15px;
  font-weight: 500;
}
.app-content {
  min-height: calc(100vh - 50px);
  padding: 10px;
  padding-left: 250px;
  background-color: #f5f5f5;
  -webkit-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}
.app-title {
  display: block;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #fff;
  border-radius: 0.375rem;
  padding: 10px 30px;
  -webkit-box-shadow: 0 1px 2px rgba(91, 14, 14, 0.1);
  box-shadow: 0 1px 2px rgba(142, 27, 27, 0.1);
  border-left: 6px solid #ffd43b;
  margin-bottom: 20px;
}
.app-title h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.app-title p {
  margin-bottom: 0;
  font-style: italic;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.tile div.dataTables_wrapper {
  padding: 0;
}
.tile {
  position: relative;
  background: #ffffff;
  border-radius: 0.375rem;
  padding: 20px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tile .overlay .l-text {
  font-size: 24px;
  margin-top: 15px;
}
.tile.small {
  padding: 0;
}

.tile .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #555;
  border-radius: 0.357rem;
}
.tile .tile-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  /* text-align: center; */
  border-bottom: 2px solid #ffd43b;
  padding-bottom: 10px;
  /* border-left: 3px solid black; */
  padding-left: 5px;
  color: black;
}
.tile .tile-title-w-btn {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.tile .tile-title-w-btn p {
  margin: 0;
}

.tile .tile-title-w-btn .title {
  margin: 0;
}

.tile .tile-title-w-btn .side {
  margin-bottom: 0;
  padding-left: 0;
}

.tile .tile-title-w-btn .btn-group {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.tile .tile-footer {
  border-top: 1px solid #ddd;
  padding: 20px 0 0 0;
  margin-top: 10px;
}
.btn-add {
  background: #9df99d !important;
  color: #003c00 !important;
}
.btn-them {
  display: block;
  width: auto;
  padding: 10px;
  font-size: 15px;
  line-height: 1.5;
  color: rgb(255, 212, 59);
  background: #001c40;
  border: 1px solid #001c40;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px;
  font-size: 13px;
  line-height: 1.5;
  padding-left: 10px;
  border-radius: 0.357rem;
  padding-right: 10px;
  font-weight: 500;
}

.btn-delete {
  background: #d0d0d0;
  color: #f99a9a;
}
.element-button {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.btn-primary {
  color: rgb(174, 117, 52);
  background-color: rgb(192, 170, 146);
  border-color: none;
  /* border-top-left-radius: 10px !important; */
  /* border-bottom-right-radius: 10px !important; */
  border-radius: 0.357rem;
  border: none;
  font-weight: 600;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: rgb(77, 154, 255);
  border-color: rgb(77, 154, 255);
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(77, 154, 255);
  border-color: rgb(77, 154, 255);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0 rgb(77, 154, 255);
  box-shadow: 0 0 0 0 rgb(77, 154, 255);
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  background-image: none;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
  color: black;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}
.breadcrumb-item {
  color: black;
}
.control-label {
  font-weight: 600;
  color: black;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 1.5;
  color: black;
  background-color: #f1f1f1;
  background-clip: padding-box;
  height: 45px;
  border: 1px solid #dadada;
  border-radius: 0.357rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgb(0, 28, 64);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.btn-save {
  background-color: rgb(86, 152, 91);
  color: rgb(6, 93, 12);
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-cancel {
  background-color: rgb(244, 180, 180);
  color: rgb(186, 33, 33);
  font-weight: 600;
  letter-spacing: 1px;
}
