* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  body {
    color: #ffffff;
    line-height: 1.45;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background: #303030;
    position: initial;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .header {
      display: flex;
      justify-content: space-between;
      color: aliceblue;
      .header-img {
        display: flex;
        align-items: center;
      }
      .header-img a img {
        max-height: 30px;
        width: auto;
      }

      .header-main {
        .menu-main {
          display: flex;
          list-style-type: none;
          align-items: center;
          margin: 0;
          padding: 0;

          .menu-item {
            a {
              font-weight: 300;
              display: block;
              padding: 0 14px;
            }
            cursor: pointer;
            border-bottom: 3px solid #fff;
            .sub-menu-lv2 {
              position: absolute;
              z-index: 2;
              overflow: hidden;
              top: 48px;
              left: 0;
              right: 0;
              background: white;
              padding: 40px;

              transform: scaleY(0);
              transform-origin: top center;
              opacity: 0;
              visibility: hidden;
              transition: transform 0.1s ease, opacity 0ms linear 0.1s,
                visibility 0ms linear 0.1s;
              ul {
                display: flex;
                justify-content: center;
                li {
                  padding: 20px;
                }
                a {
                  color: #000;
                }
              }
              .sub-menu-lv3 {
                .menu-main-lv3 {
                  display: flex;
                  flex-direction: column;
                  margin-top: 12px;
                  li {
                    font-size: 14px;
                    padding: 3px 2px;
                  }
                  a {
                    text-align: left;
                    color: #757577;
                  }
                  a:hover {
                    color: #000;
                  }
                }
              }
            }
          }
          .menu-lv1:hover {
            .sub-menu-lv2 {
              transform: scaleY(1);
              opacity: 1;
              visibility: visible;
              transition: transform 0.25s ease, opacity 0ms, visibility 0ms;
            }
          }
          .menu-item.active {
            border-bottom: 3px solid #000;
          }
          .menu-item:hover {
            border-bottom: 3px solid #000;
          }
          .menu-item a:hover {
            color: #ffc107;
          }
        }
      }
      .header-wrap-search {
        visibility: hidden;
        position: absolute;
        z-index: 8;
        min-height: 312px;
        top: 0;
        left: 0;
        text-align: left;
        width: 100%;
        background: #fff;
        overflow-y: scroll;
        padding: 12px 16px;
        transition: all 0.1s;
        transform: none;
        .header-search {
          max-width: 600px;
          margin: 0 auto;
          .search-input {
            display: flex;

            button:hover {
              background-color: #ffc107;
            }
          }
        }

        .close-search {
          position: absolute;
          top: 12px;
          right: 24px;
          background: transparent;
          flex: 0 0 auto;
          align-items: center;
          border-radius: 100px;
          display: block;
          z-index: 9;
          border: none;
          color: #000;
          font-size: 28px;
        }
        .close-search:hover {
          color: #fa8072;
        }
      }
      .header-action {
        display: flex;
        align-items: center;

        .header-acction-item {
          cursor: pointer;
          padding: 0 18px;
        }
      }
    }
  }
  .login-page {
    width: 500px;
    // height: 600px;
    background-color: #fff;
    color: #ffc107;
    top: 50%;
    left: 50%;
    // position: relative;
    // transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 30px 30px;
    margin: 0 auto;
    .form {
      .login {
        margin-top: 30px;
        text-align: center;
        font-size: 30px;
        padding: 0 0 20px;
      }
      input {
        width: 100%;
        margin-bottom: 20px;
        outline: none;
        background-color: #fff;
        height: 40px;
        padding: 4px 16px;
        border: 2px solid #ffc107;
        border-radius: 5px;
        margin-bottom: 20px;
        background-color: transparent;
      }
      input[type="submit"] {
        border: none;
        outline: none;
        background-color: #ffc107;
        font-size: 22px;
        // padding: 15px;
        margin-top: 16px;
        transition: 0.3s;
        color: #000;
        transition: 0.3s;
      }
      input[type="submit"]:hover {
        transition: transform;
        background-color: #e3cb83;
        color: #000;
        transition: 0.25s ease;
      }
      p {
        font-weight: bold;
        font-size: 20px;
      }
      button {
        text-transform: uppercase;
        outline: 0;
        background: #757577;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #ffffff;
        font-size: 22px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-bottom: 20px;
      }
      .user-icon {
        font-size: 70px;
        color: #ffc107;
        text-align: center;
        // position: absolute;
        // top: 16px;
        // left: 50%;
        // transform: translateX(-50%);
      }
    }
  }
  footer {
    margin-top: 30px;
    border-top: 1px solid #e7e7e7;
    background: #303030;
    line-height: 1.6;
    .footer-maininfo {
      padding: 40px 0 30px;
    }
    .footer-call-center {
      display: none;
    }
    .title-footer {
      color: #ffc107;
      margin: 0px;
      padding: 12px 0;
      font-weight: 700;
      font-size: 18px;
    }
    .footerInfo-hline {
      margin-bottom: 20px;
      display: -ms-flexbox;
      display: flex;
      // -ms-flex-wrap: wrap;
      // flex-wrap: wrap;
      -ms-align-items: center;
      align-items: center;
    }
    p {
      font-weight: 300;
    }
  }
}
