<style>
     * {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
     }

     html {
          font-family: sans-serif;
     }

     .icon {
          color: #338dbc;
          font-size: 60px;
          position: absolute;
          top: -5px;
          left: -76px;
     }

     .a {
          position: relative;
          margin-left: 200px;
          max-width: 640px;
     }

     .heading {
          font-size: 30px;
     }


     .info-title {
          color: #333;
          padding: 2px;
     }

     .btn_contine {
          background-color: #338dbc;
          padding: 16px 26px;
          color: #fff;
          display: inline-block;
          border-radius: 3px;
          margin-top: 30px;

     }
</style>

<body class="mt-[100px]">

     <div class="a">
          <div class="icon">
               <i class="fa-regular fa-circle-check"></i>
          </div>
          <h1 class="heading">Đặt hàng thành công</h1>
          <p style="padding-top: 6px" class="content-title">Cảm ơn bạn đã mua hàng!</p>
          <p style="padding-top: 14px" class="content-title">ĐÃ TIẾP NHẬN ĐƠN ĐẶT HÀNG</p>
          <p style="padding-top: 6px; line-height: 1.4" class="content-title">*RieNevan sẽ xác nhận đơn hàng qua
               qua số điện thoại đã được
               cung cấp.</p>
          <p style="padding-top: 4px" class="content-title">vui lòng chú ý điện thoại của mình để xác nhận đơn hàng</p>

          <a href="/" class="btn_contine">Tiếp tục mua hàng</a>
     </div>


</body>