<style>
     * {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
     }

     html {
          font-family: sans-serif;
     }

     .icon {
          color: #338dbc;
          font-size: 60px;
          position: absolute;
          top: 4px;
          left: 114px;
     }

     .a {
          margin-left: 200px;
          max-width: 640px;
          position: relative;
     }

     .heading {
          font-size: 30px;
     }

     .info {
          margin-top: 20px;
          padding: 12px;
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 10px;
     }

     .info-title {
          color: #333;
          padding: 2px;
     }

     .btn {
          background-color: #338dbc;
          padding: 16px 26px;
          color: #fff;
          display: inline-block;
          border-radius: 3px;
          margin-top: 30px;
          float: right;
     }
</style>

<body class="mt-[100px]">
     <div class="icon">
          <i class="fa-regular fa-circle-check"></i>
     </div>
     <div class="a">
          <h1 class="heading">Đặt hàng thành công</h1>
          <p style="padding-top: 6px" class="content-title">Mã đơn hàng RN100898</p>
          <p style="padding-top: 6px" class="content-title">Cảm ơn bạn đã mua hàng!</p>
          <p style="padding-top: 14px" class="content-title">ĐÃ TIẾP NHẬN ĐƠN ĐẶT HÀNG</p>
          <p style="padding-top: 6px; line-height: 1.4" class="content-title">*RieNevan sẽ xác nhận đơn hàng qua địa chỉ
               email của quý khách, trường hợp quý khách không có email, chúng tôi sẽ liên hệ qua số điện thoại đã được
               cung cấp.</p>
          <p style="padding-top: 4px" class="content-title">Vui lòng kiểm tra email đặt hàng để xem lại thông tin đơn
               hàng của bạn.</p>
          <div class="info">
               <h2 class="info-heading">Thông tin đơn hàng</h2>
               <p style="padding-top: 8px" class="info-title">Thông tin giao hàng</p>
               <p style="padding-top: 12px" class="info-title">dương d</p>
               <p class="info-title">01234244344</p>
               <p class="info-title">thái thỉnh</p>
               <p class="info-title">Xa Bình Định</p>
               <p class="info-title">Huyện Lương Tài</p>
               <p class="info-title">Bắc Ninh</p>
               <p class="info-title">Vietnam</p>
               <p style="padding-top: 20px" class="info-title">Phương thức thanh toán</p>
               <p style="padding-top: 4px" class="info-title">Thanh toán khi giao hàng (COD)</p>
          </div>
          <a href="/" class="btn">Tiếp tục mua hàng</a>
     </div>