<div class="mt-[100px]">
  <div class="login-page">
    <div class="form">
      <div class="user-icon">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </div>
      <form action="/account/login" method="post">
        <h1 class="login">ĐĂNG NHẬP</h1>
        <div class="input-user">
          <input
            id="username-login"
            type="text"
            name="username"
            placeholder="Enter username"
          />
        </div>
        <div class="input-pw">
          <input
            id="password-login"
            type="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <input id="btn-login" type="submit" name="" value="ĐĂNG NHẬP" />
        <div class="message">
          <a href="#">Quên mật khẩu? </a>
          <a href="/account/singup">Đăng kí tài khoản mới </a>

        </div>
      </form>

    </div>
  </div>
</div>