* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  * body {
    color: #ffffff;
    line-height: 1.45;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background: #303030;
    position: initial; }
  * header .header {
    display: flex;
    justify-content: space-between;
    color: aliceblue; }
    * header .header .header-img {
      display: flex;
      align-items: center; }
    * header .header .header-img a img {
      max-height: 30px;
      width: auto; }
    * header .header .header-main .menu-main {
      display: flex;
      list-style-type: none;
      align-items: center;
      margin: 0;
      padding: 0; }
      * header .header .header-main .menu-main .menu-item {
        padding: 0 12px;
        cursor: pointer;
        border-bottom: 3px solid #fff; }
        * header .header .header-main .menu-main .menu-item a {
          font-weight: 300;
          display: block; }
        * header .header .header-main .menu-main .menu-item .sub-menu-lv2 {
          position: absolute;
          z-index: 2;
          overflow: hidden;
          top: 48px;
          left: 0;
          right: 0;
          background: white;
          padding: 40px;
          transform: scaleY(0);
          transform-origin: top center;
          opacity: 0;
          visibility: hidden;
          transition: transform 0.1s ease, opacity 0ms linear 0.1s, visibility 0ms linear 0.1s; }
          * header .header .header-main .menu-main .menu-item .sub-menu-lv2 ul {
            display: flex;
            justify-content: center; }
            * header .header .header-main .menu-main .menu-item .sub-menu-lv2 ul li {
              padding: 20px; }
            * header .header .header-main .menu-main .menu-item .sub-menu-lv2 ul a {
              color: #303030; }
            * header .header .header-main .menu-main .menu-item .sub-menu-lv2 ul a:hover {
              color: #ccc; }
      * header .header .header-main .menu-main .menu-lv1:hover .sub-menu-lv2 {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
        transition: transform 0.25s ease, opacity 0ms, visibility 0ms; }
      * header .header .header-main .menu-main .menu-item.active {
        border-bottom: 3px solid #000; }
      * header .header .header-main .menu-main .menu-item:hover {
        border-bottom: 3px solid #000; }
      * header .header .header-main .menu-main .menu-item a:hover {
        color: #ffc107; }
    * header .header .header-wrap-search {
      visibility: hidden;
      position: absolute;
      z-index: 8;
      min-height: 312px;
      top: 0;
      left: 0;
      text-align: left;
      width: 100%;
      background: #fff;
      overflow-y: scroll;
      padding: 12px 16px;
      transition: all 0.1s;
      transform: none; }
      * header .header .header-wrap-search .header-search {
        max-width: 600px;
        margin: 0 auto; }
        * header .header .header-wrap-search .header-search .search-input {
          display: flex; }
          * header .header .header-wrap-search .header-search .search-input button:hover {
            background-color: #ffc107; }
      * header .header .header-wrap-search .close-search {
        position: absolute;
        top: 12px;
        right: 24px;
        background: transparent;
        flex: 0 0 auto;
        align-items: center;
        border-radius: 100px;
        display: block;
        z-index: 9;
        border: none;
        color: #000;
        font-size: 28px; }
      * header .header .header-wrap-search .close-search:hover {
        color: #fa8072; }
    * header .header .header-action {
      display: flex;
      align-items: center; }
      * header .header .header-action .header-acction-item {
        cursor: pointer;
        margin-left: 14px; }
  * footer {
    margin-top: 30px;
    border-top: 1px solid #e7e7e7;
    background: #303030;
    line-height: 1.6; }
    * footer .footer-maininfo {
      padding: 40px 0 30px; }
    * footer .footer-call-center {
      display: none; }
    * footer .title-footer {
      color: #ffc107;
      margin: 0px;
      padding: 12px 0;
      font-weight: 700;
      font-size: 18px; }
    * footer .footerInfo-hline {
      margin-bottom: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-align-items: center;
      align-items: center; }
    * footer p {
      font-weight: 300; }
