<header style="background-color: #303030;">
  <div class="container header">
    <div class="header-img">
      <a href="">
        <img
          src="/img/logo.webp"
          alt="logo"
          style="max-width: 100%; height: auto;"
        />
      </a>
    </div>
    <div class="header-main">
      <ul class="menu-main">
        <li class="menu-item"><a href="" class="leading-[3rem]">Trang chủ</a></li>
        <li class="menu-item menu-lv1">
          <a href="" class="leading-[3rem]">Cửa hàng</a>
          <div class="sub-menu-lv2">
            <ul>
              <li><a href="">Sản Phẩm giày</a></li>
              <li><a href="">Phụ kiện</a></li>
              <li><a href="">Ưu dãi</a></li>
            </ul>
          </div>
        </li>
        <li class="menu-item"><a href="" class="leading-[3rem]">News</a></li>
        <li class="menu-item"><a href="" class="leading-[3rem]">Hỗ trợ</a></li>
      </ul>
    </div>
    <div class="header-action">
      <div class="header-acction-item">
        <a href="" class="text-center flex flex-col text-[#ffc107] font-medium">
          <span class="mb-1"><i class="fa fa-magnifying-glass"></i></span>
          <span class="text-xs">Tìm kiếm</span>
        </a>
      </div>
      <div class="header-acction-item flex items-center">
        <a href="" class="text-center flex flex-col text-[#ffc107] font-medium">
          <span class="mb-1"><i class="fa fa-cart-shopping"></i></span>
          <span class="text-xs">Giỏ Hàng</span>

        </a>
      </div>
    </div>
  </div>

</header>